name: Dagger CI
on:
  push:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      -
        name: Call Dagger Function
        uses: dagger/dagger-for-github@v7
        with:
          version: "latest"
          args: run-ci --source=.:source
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
